{
	"root": true,
	"extends": [
		"plugin:node/recommended",
		"5app"
	],
	"plugins": [
        "jsdoc"
    ],
    "env": {
		"browser": true
	},
	"globals": {
		"HTMLInput": true
	},
	"rules": {
		"no-param-reassign": 0
	}
}
