{
	"root": true,
	"extends": [
		"plugin:node/recommended",
		"5app"
	],
	"plugins": [
        "jsdoc"
    ],
    "env": {
		"browser": true
	},
	"globals": {
		"HTMLInput": true
	},
	"rules": {
		"func-style": 0,
		"max-params": [2, {"max": 6}],
		"no-param-reassign": 0,
		"prefer-object-has-own": 0,
		"node/no-unsupported-features/es-syntax": 0,
		"unicorn/numeric-separators-style": 0,
		"unicorn/prefer-node-protocol": 0
	}
}
